/*tranhuuhongson*/
/*image in post content*/
.main-post img {
    max-width: 100%;
}

.comment-box {
    overflow: hidden;
    resize: none;
    border-radius: 7px;
    /*font-family: 'Nunito', sans-serif;*/
    /*font-size: 16px;*/
    /*font-weight: 300;*/
    /*color: #3d455c;*/
    /*transition: 0.5s;*/
}

/*comment context menu*/
.post-comments .media .media-body .media-heading .btn-group i {
    display: inline-block;
    margin-left: 3px;
    color: #a7b3c6;
    padding: 0px 6px;
    cursor: pointer;
    border-radius: 6px;
    background-color: #a7b3c638;
    border: 1px solid #a7b3c6;
}

.post-comments .media .media-body .media-heading .btn-group i:hover {
    background-color: #a7b3c65c;
}

.post-comments .media .media-body .media-heading .btn-group .dropdown-menu {
    min-width: 99px;
    padding: 0px 0;
}

.post-comments .media .media-body .media-heading .btn-group .dropdown-menu > li > a {
    padding: 3px 20px;
    text-align: center;
    font-size: 11px;
}

.post-comments .media .media-body .media-heading .btn-group .dropdown-menu .divider {
    margin: 0px 0;
}

.post1 > img {
    height: 19vw;
}
.post2 > img {
    height: 10vw;
}
.post3 > img {
    height: 5vw;
}
.post4 > img {
    height: 27vw;
}
.main-post .header {
    padding: 0px 0px;
}

.main-post .tag {
    font-size: 13px;
    padding: 3px 10px;
    font-weight: 300;
    border-radius: 0.325em;
    margin-right: 2px;
    color: rgba(0, 0, 0, 0.65);
    background-color: #E8E8E8;
    transition: background 0.1s linear;
    margin-bottom: 5px;
    display: inline-block;
    text-decoration: none;
    border-color: #E8E8E8;
}

.main-post .tag:hover {
    text-decoration: none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12) !important;
    background-color: #E0E0E0;
    border-color: #E0E0E0;
    color: rgba(0, 0, 0, 0.7);
}

.main-post .tag .total {
    display: inline-block;
    margin-left: 0.3em;
    font-weight: bold;
    opacity: 0.8;
    color: rgba(0, 0, 0, 0.65);
}

.main-post .tag-group {
    padding-bottom: 10px;
}

.main-post .post-meta {

    margin-bottom: 29px;
}

.main-post .post-title {

    font-size: 37px;

    margin-bottom: 14px;

    color: #0b6b68;
}

.main-post .post-meta .post-category {
    text-transform: capitalize;
}

.main-post .post-meta .profile-image img {
    width: 35px;
    display: inline-block;
    border-radius: 50%;
}

.main-post .post-meta .profile-image {
    text-decoration: none;
}

.main-post .post-meta span {
    font-size: 14px;
}

.main-post .post-meta span.post-author {
    font-weight: 600;
    font-size: 16px;
    margin-left: 5px;
}

#section-comments .section-title h2 {
    color: #0b6b68;
    font-size: 22px;
}

.post-author-info {
    display: flex;
    justify-content: center;
}

.post-author-info a {
    display: block;
    width: 100px;
    overflow: hidden;
}

.post-author-info a img {
    width: 100px;
    border-radius: 50%;
}

.post-author-info .body {
    margin-left: 17px;
}

.post-author-info .body h3 {

    margin-bottom: 11px;
}

.post-author-info .body h3 a {
    display: inline-block;
    color: #0b6b68;
    font-size: 21px;
    padding: 5px 0px 0px 0px;
}

.post-author-info .body div {

    font-size: 16px;

    line-height: 21px;
}

.post-author-info a {
    color: #0b6b68;
    display: inline;
    text-decoration: none;
}

.post-author-info .body a.total {

}

.post-info {
    display: flex;
    margin-bottom: 31px;
}

.post-info .post-info-col {

    padding: 5px 0px;

    text-align: center;

    width: 100%;
}

.post-info .likes {

}

#like-post.liked {

    color: #3b5998;

    border-color: #3b5998;
}

.post-info .comments {

    border-left: 1px solid #e8e8e8;

    border-right: 1px solid #e8e8e8;
}

.post-info .views {

}

.post-info .post-info-col h3 {
    color: #0b6b68;
    /* text-align: center; */
}

.post-info .post-info-col p {
    margin-bottom: 0px;
}

/*header*/
.nav-menu li a i.fa,
.profile ul.dropdown-menu li button.sign-out i {
    padding-right: 6px;
    position: relative;
    top: 1px;
}

.profile {

}

.profile img.avatar {

    width: 34px;

    border-radius: 50%;
}

.profile div {
    cursor: pointer;
}

.profile ul.dropdown-menu {

    left: -106px;

    top: 52px;
}

.profile ul.dropdown-menu li {

}

.profile ul.dropdown-menu li a {

    padding: 3px 12px;
}

.profile ul.dropdown-menu li button.sign-out {
    background: none !important;
    border: none;
    padding: 0 !important;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.42857143;
    font-size: 14px;
    color: #0b6b68;
    position: relative;
    padding: 3px 12px;
    text-transform: capitalize;
    transition: 0.2s color;
}

.profile ul.dropdown-menu li form {
    padding: 3px 12px;
}

ul.user-feature {

}

ul.user-feature > li {

    float: right;

}

/*
    profile page
    tranhuuhongson
*/
.profile {
    display: flex;
    flex-direction: column;
}
.profile-image {
    align-content: start;
    width: 123px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.12),0 1px 6px rgba(0,0,0,0.12) !important;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 50%;

}

.profile-image img {
    border-radius: 50%;
    width: 100%;
}
.profile-info,
.profile-username,
.profile-image {
    align-self: center;
}
.profile-username {

    margin-top: 11px;

    margin-bottom: 23px;
}
.profile-info {

    display: flex;

    width: 100%;
}
.profile-username strong {
    font-family: "Montserrat";
    font-size: 28px;
    color: rgba(0, 0, 0, 0.68);
}
.profile-info>div {

    box-shadow: -1px 0px 0px 0px #eceef2 inset;
    text-align: center;

    width: 100%;
}
.profile-info>div:last-child {
    box-shadow: none;
}

.profile-info>div h5 {
    font-weight: 100;
    font-size: 11px;
    color: rgba(0,0,0,0.6);
    text-transform: uppercase;
    font-family: "OpenSans", sans-serif;
}
.profile-info>div p {

    color: #0b6b68;

    font-size: 20px;

    font-weight: bold;
}

.profile-content .btn-follow:hover {
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.18) inset;
    color: #00b5ad !important;
}
.profile-content .btn-follow-following:hover {
    color: #fff !important;
}
.profile-content .btn-follow i.fa {

    margin-right: 8px;

    margin-left: 3px;
}
.profile-content .btn-follow-following {

    background-color: #00b5ad !important;

    color: #fff !important;
}
.profile-content .btn-follow {
    font-size: 12px;
    padding: 10px 10px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    min-height: 1em;
    outline: none;
    border: none;
    border-radius: 12px;
    padding: 6px 8px;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    user-select: none;
    transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, background 0.25s ease, box-shadow 0.25s ease;
    background-color: #ffffff;
    color: #00b5ad;
    text-transform: none;
    font-weight: 200;
    border-color: rgba(0,181,173,0.5) !important;
    border-width: 1px;
    border-style: solid;
}

.profile-content>div {
    margin-top: 15px;
}
.profile-content>div>p {
    margin-bottom: 8px;
}
.profile-content>div>a {
    text-decoration: none;
    /* width: 30px; */
    margin-right: 3px;
    margin-bottom: 4px;
}
.profile-content>div>a>img {
    width: 32px;
    border-radius: 50%;
}

.profile-content>div>a.tag:hover {
    text-decoration: none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12) !important;
    background-color: #E0E0E0;
    border-color: #E0E0E0;
    color: rgba(0, 0, 0, 0.7);
}
.profile-content>div>a.tag .total {
    display: inline-block;
    margin-left: 0.3em;
    font-weight: bold;
    opacity: 0.8;
    color: rgba(0, 0, 0, 0.65);
}
.profile-content>div>a.tag {
    font-size: 13px;
    padding: 3px 10px;
    font-weight: 300;
    border-radius: 0.325em;
    margin-right: 2px;
    color: rgba(0, 0, 0, 0.65);
    background-color: #E8E8E8;
    transition: background 0.1s linear;
    margin-bottom: 5px;
    display: inline-block;
    text-decoration: none;
    border-color: #E8E8E8;
}
.chart {
    padding-top: 55px;
}


.mytooltip {
    position: relative;
    display: inline-block;
}

.mytooltip .tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.5s, transform 0.4s;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 14px;
    border-radius: 4px;
    transform: scale(0.2) translateX(-50%);
}

.mytooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.mytooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateX(-50%);
}

.mytooltip .tooltiptext-bottom {
    width: max-content;
    height: max-content;
    top: 100%;
}
.mytooltip .tooltiptext-bottom::after {
    bottom: 100%;
    top: auto;
    border-color: transparent transparent #555 transparent;
}
.mytooltip:hover .tooltiptext-bottom {

}
.divider {
    background-color: #d6d9de;
    margin: 40px 0px;
    height: 1px;
}
.divider i.fa {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #0b6b68;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #d6d9de;
    /* margin: 20px; */
    padding: 6px 6px;
    display: block;
    box-sizing: content-box;
}

.post-list-container {
    display: flex;
    justify-content: center;
}
.post-list-container .post-list {
    width: 80%;
}

.post-list-container .post-list .post-item {
    display: flex;
    margin-bottom: 16px;
    position: relative;
    /* border-bottom: 1px solid #d6d9de; */
    /* padding-bottom: 15px; */
}
.post-list-container .post-list .post-item .left {
    width: 20%;
}
.post-list-container .post-list .post-item .right div.author span {color: #0b6b68;font-weight: bold;}
.post-list-container .post-list .post-item .right div.author {

    font-size: 11px;
}
.post-list-container .post-list .post-item .right p {

    font-size: 14px;

    padding: 7px 0;

    margin-bottom: 0;
}
.post-list-container .post-list .post-item .right h3 a span.high-light-search {
    background-color: #fff3b8;
    padding: .1em .25em;
    border-radius: .2em;
    font-style: normal;
}
.post-list-container .post-list .post-item .right h3 a:hover {

    color: #0b4644;
}
.post-list-container .post-list .post-item .right h3 a {
    text-decoration: none;
    color: #0b6b68;
    font-size: 19px;
    transition: 0.05s;
}
.post-list-container .post-list .post-item .right {
    width: 100%;
}
.post-list-container .post-list .post-item .right .tag:hover {
    text-decoration: none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12) !important;
    background-color: #E0E0E0;
    border-color: #E0E0E0;
    color: rgba(0, 0, 0, 0.7);
}
.post-list-container .post-list .post-item .right .tag {
    font-size: 13px;
    padding: 3px 10px;
    font-weight: 300;
    border-radius: 0.325em;
    margin-right: 2px;
    color: rgba(0, 0, 0, 0.65);
    background-color: #E8E8E8;
    transition: background 0.1s linear;
    margin-bottom: 5px;
    display: inline-block;
    text-decoration: none;
    border-color: #E8E8E8;
}
.post-list-container .post-list .post-item .left a {
    display: flex;
    justify-content: center;
}
.post-list-container .post-list .post-item .left a img {
    width: 38%;
    border-radius: 50%;
}


a.icon-like-comment {
    font-size: 12px;
    position: absolute;
    top: 4px;
    right: 0px;
    color: #d6d9de;
    text-decoration: none;
}

a.icon-like-comment i.icon-like {
    margin-right: 4px;
}

.footer {
    display: flex;
    justify-content: space-between;
}
.footer .links {
    display: flex;
    justify-content: space-between;
}
.footer .copyright {

}
.footer .copyright ,
.footer a {
    transition: 0.4s;
    display: block;
    margin: 0 .7em;
    font-size: 13px;
    color: rgba(0,0,0,0.5);
    text-decoration: none;
    font-family: "OpenSans", sans-serif;
    font-weight: 500;
}
.footer a:hover {
    color: rgba(0,0,0,0.7);
}
html {
    position: relative;
    min-height: 552px;
}
#footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    transform: translateY(100%);
    padding-top: 40px;
}

#scroll {
    position:fixed;
    right:10px;
    bottom:40px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#128a86;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff
}
#scroll:hover {
    background-color:#0b6b68;
    opacity:1;
    filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

.load-more {
    padding: 9px;
    color: #0b6b68;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background-color: #e8e8e826;
}
.load-more:hover {
    background: #e8e8e891;
}

.error-page {
    text-align: center;
    padding-top: 101px;
    color: #0b6b68;
}
.error-page h1 {
    color: #0b6b68;
    font-size: 80px;
    font-style: italic;
}