<footer id="footer"
        xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="footer">
                    <div class="links">
                        <a href="https://www.facebook.com/Itechnewscom-115810473210504/">Fanpage</a>
                        <a href="https://www.facebook.com/Itechnewscom-115810473210504/">Liên hệ</a>
                        <a href="https://www.facebook.com/Itechnewscom-115810473210504/">Dịch vụ</a>
                    </div>
                    <div class="copyright">Copyright © 2019 itechnews.com</div>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</footer>