<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="header"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!-- Nav -->
    <div id="nav">
        <!-- Main Nav -->
        <div id="nav-fixed">
            <div class="container">
                <!-- logo -->
                <div class="nav-logo">
                    <a th:href="@{/}" class="logo"><img th:src="@{/assets/public/img/logo.png}"></a>
                </div>
                <!-- /logo -->

                <!-- nav -->
                <ul class="nav-menu nav navbar-nav">
                    <li th:class="'cat-'+${iter.index+1}" th:each="category, iter : ${categories}">
                        <a th:href="@{/tag}" th:text="${category.name}"></a>
                    </li>
                </ul>
                <!-- /nav -->

                <!-- search & aside toggle -->
                <div class="nav-btns">
                    <button class="aside-btn"><i class="fa fa-bars"></i></button>
                    <button class="search-btn"><i class="fa fa-search"></i></button>
                    <div class="search-form">
                        <input class="search-input" type="text" name="search" placeholder="Enter Your Search ...">
                        <button class="search-close"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /search & aside toggle -->
            </div>
        </div>
        <!-- /Main Nav -->

        <!-- Aside Nav -->
        <div id="nav-aside">
            <!-- nav -->
            <div class="section-row">
                <ul class="nav-aside-menu">
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/about}">About Us</a></li>
                    <li><a href="#">Join Us</a></li>
                    <li><a href="#">Advertisement</a></li>
                    <li><a th:href="@{/contact}">Contacts</a></li>
                </ul>
            </div>
            <!-- /nav -->

            <!-- social links -->
            <div class="section-row">
                <h3>Follow us</h3>
                <ul class="nav-aside-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div>
            <!-- /social links -->

            <!-- user account -->
            <th:block sec:authorize="isAuthenticated()">
                <div class="section-row">
                    <h3 th:text="${T(com.itechnews.security.UserDetailsUtil).getUserDetails().getUsername()}"></h3>
                    <ul class="nav-aside-menu">
                        <li><a href="#">Profile</a></li>
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <button class="btn btn-dark btn-sm" type="submit" value="Logout" >Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </th:block>
            <!-- /user account -->

            <!-- aside nav close -->
            <button class="nav-aside-close"><i class="fa fa-times"></i></button>
            <!-- /aside nav close -->
        </div>
        <!-- Aside Nav -->
    </div>
    <!-- /Nav -->

</th:block>