<th:block
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{../layouts/public/template}">

    <th:block layout:fragment="page-header">
        <!-- Page Header -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <ul class="page-header-breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Regular page</li>
                        </ul>
                        <h1>Regular page</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
    </th:block>

    <th:block layout:fragment="content">
        <div class="col-md-8">
            <h1>H1 Typography heading.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            <h2>H2 Typography heading.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            <h3>H3 Typography heading.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            <h4>H4 Typography heading.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            <ul class="list-style">
                <li><p>Vix mollis admodum ei, vis legimus voluptatum ut.</p></li>
                <li><p>Cu cum alia vide malis. Vel aliquid facilis adolescens.</p></li>
                <li><p>Laudem rationibus vim id. Te per illum ornatus.</p></li>
            </ul>

            <ol class="list-style">
                <li><p>Vix mollis admodum ei, vis legimus voluptatum ut.</p></li>
                <li><p>Cu cum alia vide malis. Vel aliquid facilis adolescens.</p></li>
                <li><p>Laudem rationibus vim id. Te per illum ornatus.</p></li>
            </ol>
        </div>
    </th:block>

</th:block>