<th:block
        xmlns:th="http://www.thymeleaf.org"
        th:fragment="pagination(page, totalPages, uri)">
<nav aria-label="Page navigation">
    <ul class="d-flex justify-content-center pagination pagination-sm">
        <li id="btn-prev" class="page-item" th:classappend="${page == 1} ? disabled">
            <a th:if="${page == 1}" class="page-link" href="#">
                <span aria-hidden="true">&laquo;</span>
            </a>
            <a th:if="${page > 1}" class="page-link" th:href="@{ ${uri} + ${#strings.contains(uri, '?') == true ? '&' : '?' }+ 'page=' + ${page - 1}}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        <li class="page-item" th:classappend="${i == page} ? active : (${i == -1 || i == -2} ? disabled)"
            th:each="i : ${T(com.itechnews.util.PaginationUtil).show(totalPages, 7, page)}">
            <th:block th:switch="${i}">
                <th:block th:case="1">
                    <a class="page-link" th:text="1" th:href="@{${uri}}"></a>
                </th:block>
                <th:block th:case="-1">
                    <a class="page-link" href="">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                </th:block>
                <th:block th:case="-2">
                    <a class="page-link" href="">
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </th:block>
                <th:block th:case="*">
                    <a class="page-link" th:text="${i}" th:href="@{${uri} + ${#strings.contains(uri, '?') == true ? '&' : '?' }+ 'page=' + ${i}}"></a>
                </th:block>
            </th:block>
        </li>

        <li id="btn-next" class="page-item" th:classappend="${page == totalPages} ? disabled">
            <a th:if="${page == totalPages}" class="page-link" href="#">
                <span aria-hidden="true">&raquo;</span>
            </a>
            <a th:if="${page < totalPages}" class="page-link" th:href="@{${uri} + ${#strings.contains(uri, '?') == true ? '&' : '?' }+ 'page=' + ${page + 1}}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
</th:block>