<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Forgot password</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" th:href="@{/assets/auth/images/icons/favicon.ico}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/auth/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/auth/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/auth/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/auth/vendor/animate/animate.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{/assets/auth/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/auth/vendor/animsition/css/animsition.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/auth/vendor/select2/select2.min.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{/assets/auth/vendor/daterangepicker/daterangepicker.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/auth/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/auth/css/main.css}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(/assets/auth/images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Forgot password
					</span>
				</div>
				<form th:action="@{/forgot}" method="post" class="login100-form validate-form">

					<div class="text-danger" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>
					<div class="text-success" th:if="${successMessage != null}" th:text="${successMessage}"></div>

					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					<div class="wrap-input100 m-b-26">
						<!--<span class="label-input100">Username</span>-->
						<input class="input100" type="text" name="email" value="" placeholder="Enter your email">
						<span class="focus-input100"></span>
					</div>
					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Submit
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script th:src="@{/assets/auth/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/assets/auth/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/assets/auth/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/assets/auth/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/assets/auth/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/assets/auth/vendor/daterangepicker/moment.min.js}"></script>
	<script th:src="@{/assets/auth/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/assets/auth/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/assets/auth/js/main.js}"></script>

</body>
</html>