<th:block
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{../layouts/auth/template}">

    <th:block layout:fragment="content">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="login100-form-title" style="background-image: url('/assets/public/img/logo.png')">
                    </div>

                    <form th:action="@{/login}" method="post" class="login100-form validate-form">

                        <div class="text-success" th:if="${successMessage != null}" th:text="${successMessage}"></div>
                        <div class="text-danger" th:if="${#httpServletRequest.getParameter('error') != null}">
                            Tên đăng nhập hoặc tài khoản không đúng
                        </div>

                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <div class="wrap-input100 validate-input m-b-26" data-validate="Vui lòng nhập tên đăng nhập">
                            <span class="label-input100">Tài khoản</span>
                            <input class="input100" type="text" name="username" value="" placeholder="Nhập tên đăng nhập">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-18" data-validate="Vui lòng nhập mật khẩu">
                            <span class="label-input100">Mật khẩu</span>
                            <input class="input100" type="password" name="password" value="" placeholder="Nhập mật khảu">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="flex-sb-m w-full p-b-30">
                            <div class="contact100-form-checkbox">
                                <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                                <label class="label-checkbox100" for="ckb1">
                                    Nhớ mật khẩu
                                </label>
                            </div>
                            <div>
                                <a th:href="@{/forgot}" class="txt1">
                                    Quên mật khẩu?
                                </a>
                                </a>
                            </div>
                        </div>

                        <div class="container-login100-form-btn">
                            <button type="submit" class="btn-block login100-form-btn txt1">
                                Đăng nhập
                            </button>
                            <a th:href="@{/auth/register}" class="btn-block login100-form-btn txt1 btn-sign-up">
                                Đăng ký
                            </a>
                            <a th:href="@{/auth/facebook}" class="btn-block login100-form-btn txt1 btn-facebook">
                                <i class="fa fa-facebook mr-2"></i>Đăng nhập với facebook
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </th:block>
</th:block>