<th:block
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{../layouts/auth/template}">

	<th:block layout:fragment="pageStyleSheet">
		<style>
			label.error,
			label.error-custom {
				opacity: 1;
				visibility: visible;
				position: absolute;
				max-width: 70%;
				background-color: rgb(255, 255, 255);
				border: 1px solid rgb(200, 0, 0);
				border-radius: 2px;
				padding: 4px 25px 4px 10px;
				top: 0;
				transform: translateY(-50%);
				right: 2px;
				pointer-events: none;
				font-family: Poppins-Medium;
				color: rgb(200, 0, 0);
				font-size: 13px;
				line-height: 1.4;
				text-align: left;
				transition: opacity 0.4s ease 0s;
			}
		</style>
	</th:block>

	<th:block layout:fragment="content">
		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100">
					<div class="login100-form-title" style="background-image: url(/assets/auth/images/bg-01.jpg);">
						<span class="login100-form-title-1">
							Reset your password
						</span>
					</div>

					<form action="" method="post" class="login100-form validate-form">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

						<div class="text-success" th:if="${successMessage != null}" th:text="${successMessage}"></div>
						<div class="text-success" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>

						<div class="wrap-input100 m-b-26">
							<!--<span class="label-input100">Username</span>-->
							<input class="input100" type="password" id="password" name="password" value="" placeholder="Password">
							<span class="focus-input100"></span>
						</div>
						<div class="wrap-input100 m-b-26">
							<!--<span class="label-input100">Username</span>-->
							<input class="input100" type="password" name="confirmedPassword" value="" placeholder="Confirm">
							<span class="focus-input100"></span>
						</div>
						<div class="container-login100-form-btn">
							<button type="submit" class="login100-form-btn">
								Submit
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</th:block>

	<th:block layout:fragment="pageScript">
		<script>
			$(document).ready(function() {
				$("form").validate({
					rules: {
						"password": {
							required: true,
							minlength: 6
						},
						"confirmedPassword": {
							required: true,
							equalTo: "#password"
						}
					},
					messages: {
						"password": {
							required: "Vui lòng nhập mật khẩu",
							minlength: "Tên đăng nhập tối thiểu 6 kí tự",
						},
						"confirmedPassword": {
							required: "Vui lòng nhập lại mật khẩu",
							equalTo: "Mật khẩu không khớp",
						}
					}
				});
			});
		</script>
	</th:block>

</th:block>